<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="HostName" value="localhost"/>
    <add key="Port" value="53556"/>
    <add key="ExePath" value="gpsfish\\gpsfish.exe"/>
  </appSettings>
</configuration>
